.cart-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  max-width: 20rem;
  width: 100%;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.cart-item-title {
  font-weight: bold;
}

.cart-item-price {
  margin-left: 10px;
}

.cart-total {
  margin-top: 10px;
  text-align: right;
}

.btn {
  cursor: pointer;
}

@media (max-width: 600px) {
  .cart-container {
    padding: 4px;
    margin-top: 10px;
    border-radius: 2px;
    width: fit-content;
    text-align: left;
  }
  
  .cart-item {
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .cart-item-title {
    font-weight: normal; /* Adjusted to 'normal' for consistency */
    margin-bottom: 5px; /* Added margin to separate title and price on mobile */
  }
}
